Source: jetty8
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Michael Koch <konqueror@gmx.de>, Thierry Carrez <thierry.carrez@ubuntu.com>,
 Ludovic Claude <ludovic.claude@laposte.net>, Torsten Werner <twerner@debian.org>,
 Niels Thykier <niels@thykier.net>, Pablo Duboue <pablo.duboue@gmail.com>
Build-Depends: debhelper (>= 7), cdbs (>> 0.4.5.3), default-jdk, ant-optional, maven-repo-helper,
 javahelper, maven-debian-helper, libbuild-helper-maven-plugin-java, libgnumail-java (>= 1.1.2-7),
 libgnujaf-java, junit, libtomcat7-java (>= 7.0.26), default-jdk-doc, libmaven-bundle-plugin-java,
 libmockito-java, glassfish-jmac-api (>= 1:2.1.1-b31g-2), libgeronimo-jta-1.1-spec-java,
 libjstl1.1-java, libservlet3.0-java
Standards-Version: 3.9.3
Vcs-Git: git://anonscm.debian.org/pkg-java/jetty8.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-java/jetty8.git
Homepage: http://jetty.mortbay.com/

Package: libjetty8-java
Architecture: all
Depends: ${misc:Depends}, libservlet3.0-java
Suggests: jetty8, libjetty8-java-doc
Description: Java servlet engine and webserver -- core libraries
 Jetty is an Open Source HTTP Servlet Server written in 100% Java.
 It is designed to be light weight, high performance, embeddable,
 extensible and flexible, thus making it an ideal platform for serving
 dynamic HTTP requests from any Java application.

Package: libjetty8-java-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: default-jdk-doc, libgnumail-java-doc, libservlet2.5-java-doc
Suggests: libjetty-java
Description: Javadoc for the Jetty API
 Jetty is an Open Source HTTP Servlet Server written in 100% Java.
 It is designed to be light weight, high performance, embeddable,
 extensible and flexible, thus making it an ideal platform for serving
 dynamic HTTP requests from any Java application.
 .
 This package contains the Javadoc for libjetty-java.

Package: libjetty8-extra-java
Architecture: all
Depends: ${misc:Depends}, libjetty8-java (>= ${source:Version}),
 libtomcat7-java (>= 7.0.26), libasm3-java, libgnujaf-java,
 libgnumail-java, libjakarta-taglibs-standard-java, libservlet3.0-java,
 jstl1.1-java
Suggests: jetty8
Description: Java servlet engine and webserver -- extra libraries
 Jetty is an Open Source HTTP Servlet Server written in 100% Java.
 It is designed to be light weight, high performance, embeddable,
 extensible and flexible, thus making it an ideal platform for serving
 dynamic HTTP requests from any Java application. 
 The extra libraries include jetty-management, jetty-naming,
 jetty-servlet-tester, jetty-ajp, jetty-java5-threadpool,
 jetty-client, jetty-rewrite-handler, jetty-plus, jetty-annotations

Package: jetty8
Architecture: all
Depends: ${misc:Depends}, libjetty8-java (>= ${source:Version}),
 adduser, apache2-utils, default-jre-headless | java5-runtime-headless | java6-runtime-headless
Suggests: libjetty8-extra-java (>= ${source:Version}),
 libjetty8-java-doc (>= ${source:Version})
Description: Java servlet engine and webserver
 Jetty is an Open Source HTTP Servlet Server written in 100% Java.
 It is designed to be light weight, high performance, embeddable,
 extensible and flexible, thus making it an ideal platform for serving
 dynamic HTTP requests from any Java application.
