#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/javahelper.mk
include /usr/share/cdbs/1/class/maven.mk

JAVA_HOME := /usr/lib/jvm/default-java

DEB_MAVEN_INSTALL_TARGET :=
DEB_MAVEN_DOC_TARGET :=
DEB_MAVEN_ARGS := -P-aggregates -P-osgi

LIBJETTY_JARS := continuation deploy http io jmx overlay-deployer policy rewrite security \
  server servlet servlets start util webapp xml

LIBJETTY_EXTRA_JARS := ajp annotations client jndi monitor plus

# Some java sources contain UTF-8 characters, build fails with C locale
export LC_ALL=C.UTF-8

install/libjetty-java:: libjetty-java-mh-install
	version=$(wildcard debian/libjetty-java/usr/share/maven-repo/org/eclipse/jetty/jetty-server/8*); \
	version=$$(basename $$version); \
	for lib in $(LIBJETTY_JARS); do \
		mh_installjar -plibjetty-java --java-lib --usj-name=jetty-$$lib \
		    jetty-$$lib/pom.xml jetty-$$lib/target/jetty-$$lib-*.jar; \
		if [ $$lib = "start" ]; then \
		    continue; \
		fi; \
		jar=jetty-$$lib-$$version.jar; \
		dh_link -plibjetty-java usr/share/java/$$jar usr/share/jetty/lib/$$jar; \
	done; \
	dh_link -plibjetty-java usr/share/java/jetty-start-$$version.jar usr/share/jetty/start.jar

install/libjetty-extra-java:: libjetty-extra-java-mh-install
	version=$(wildcard debian/libjetty-extra-java/usr/share/maven-repo/org/eclipse/jetty/jetty-ajp/8*); \
	version=$$(basename $$version); \
	for lib in $(LIBJETTY_EXTRA_JARS); do \
		mh_installjar -plibjetty-extra-java --java-lib --usj-name=jetty-$$lib \
		    jetty-$$lib/pom.xml jetty-$$lib/target/jetty-$$lib-*.jar; \
		if [ $$lib = "monitor" ]; then \
		    continue; \
		fi; \
		jar=jetty-$$lib-$$version.jar; \
		dh_link -plibjetty-extra-java usr/share/java/$$jar usr/share/jetty/lib/$$jar; \
	done; \
	dh_link -plibjetty-extra-java usr/share/java/jetty-monitor-$$version.jar usr/share/jetty/lib/monitor/jetty-monitor.jar

%-mh-install:
	mh_install -p$(patsubst %-mh-install,%,$@)

